body {
   text-align: center;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../img/cables.jpg);
   background-size: cover; */
   background-color: #f4f4f4;
}

h1 {
  margin-top: 15px;
  margin-bottom: 75px;
}

h3 {
  float: left;
  display: inline;
}

.btn {
  background-color: gray;
}

img {
  height: 250px;
  width:auto;
  float: left;
  background-color: white;
}
