body {
   text-align: center;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(../img/cables.jpg);
   background-size: cover; */
   background-color: #f4f4f4;
   font-family: 'Major Mono Display', monospace;
   font-size: 18px
}

h1 {
  margin-top: 15px;
  margin-bottom: 75px;
}

h3 {
  float: left;
  display: inline;
}

.btn {
  background-color: gray;
}

.btn: hover{

}


.card {
  margin-left: 37%;
  text-align: center;
  margin-bottom: 75px;
}
.card-body {
  background-color: #eee;
}

img {
  height: 250px;
  width:auto;

  background-color: white;
}

input {
margin-bottom: 15px;

}

.btn {
  margin: 20px;
}

h5 {
  margin: 25px;

}

.output {
  background-color: #eee;
  position: fixed;
  width: 80%;
  height: 250px;
  margin-right: 100px
}
